<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yantang">
    <!--关系映射将POJO类中的属性映射为表中的字段-->
    <!--<resultMap id="StudentMap" type="Student">
        <id column="s_id" property="id"></id>
        <result column="s_name" property="name"></result>
        <result column="s_birth" property="birth"></result>
        <result column="s_sex" property="sex"></result>
    </resultMap>-->
    <!--id ="接口中的方法名",parameterType="传入的参数类型",resultType = "返回实体类对象，使用包.类名"-->
    <insert id="addStudent">
        insert into Student(s_name,s_birth,s_sex) VALUES(#{s_name},#{s_birth},#{s_sex})
    </insert>
    <delete id="deleteStudent">
        delete from student where s_id = #{s_id}
    </delete>
    <update id="updateStudent">
        update  student set s_name = #{s_name},s_birth = #{s_birth},s_sex = #{s_sex} where s_id = #{s_id}
    </update>
    <select id="findById" resultType="Student">
        select * from student where s_id = #{s_id}
    </select>
    <select id="findAll" resultType="Student">
        select * from student
    </select>
    <select id="findAllLike" resultType="Student">
        select * from student where s_name like "%"#{s_name}"%"
    </select>
</mapper>